<strong>Olá, {{ deliveryman }}</strong>
<p>Uhuul! &#x1f60e;<br /> A encomenda <strong>{{ product }}</strong> foi registrada.</p>
<p>Configa os detalhes abaixo:</p>
<ul style="padding-top: 0; margin-top: 0; font-size: 13px;">
  <li>
    <strong>Cliente: </strong> {{ name }}
  </li>
  <li>
    <strong>Rua: </strong> {{ street }}
  </li>
  <li>
    <strong>Número: </strong> {{ number }}
  </li>
  <li>
    <strong>Complemento: </strong> {{ complement }}
  </li>
  <li>
    <strong>Estado: </strong> {{ state }}
  </li>
  <li>
    <strong>Cidade: </strong> {{ city }}
  </li>
  <li>
    <strong>CEP: </strong> {{ postalcode }}
  </li>
</ul>
<p>
  <small>
    <strong>A encomenda já pode ser retirada!</strong>
  </small>
</p>
